# 3. Tri des listes

In [1]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
print(len(ma_liste), ma_liste)

13 [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

### Méthode de classe / native ```list.sort```

In [2]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [3]:
ma_liste.sort()
print(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [4]:
ma_liste.sort(reverse=True)
print(ma_liste)

[10, 9, 8, 8, 6, 6, 5, 5, 4, 3, 3, 2, 1]

### Méthode ```sorted```

In [5]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [6]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
sorted(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [7]:
sorted(ma_liste, reverse=True)

[10, 9, 8, 8, 6, 6, 5, 5, 4, 3, 3, 2, 1]

## Exercices

In [1]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [29]:
# FYI: Implementation demo flag
def calculer_somme(L, demo = False):
    somme = 0
    for i in range(len(L)):
        somme += L[i]
        if demo:
            print(L[i], somme)
    return somme

In [10]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
calculer_somme(ma_liste)

70

In [11]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
calculer_somme(ma_liste, demo = True)

5 5
4 9
8 17
5 22
8 30
10 40
1 41
3 44
6 50
6 56
2 58
3 61
9 70

70

### Tri par sélection (min)

> **Démo avec jeux de cartes**

TO DO: Décrivez l'algorithme de tri par sélection en pseudo-code:  

  on créer une liste vide
  on met la carte la plus faible à part, 
  puis on recherche la plus faible d'après,
  jusqu'a ce qu'il n'y est plus de carte 
  puis un tri des cartes
  
Jordan:  
  Tant qu'il y a des cartes:
    - je prend la plus faible
    - je l'ajoute à une nouvelle liste
    - je la supprime de L
  je retourne la nouvelle liste

In [81]:
compteur = len(ma_liste)
while compteur>0:
    print(compteur)
    compteur-=1

13
12
11
10
9
8
7
6
5
4
3
2
1

In [85]:
# Implémentation du tri par sélection (utilisant fonction min())
def tri_selection(L, demo = False):
    liste_triee=[]
    while len(L)>0:
        carte_min=min(L)
        liste_triee.append(carte_min)
        L.remove(carte_min)
    return liste_triee

In [86]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [6]:
ma_liste #Note: ma_liste est vide à la fin

[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [1]:
ma_liste=[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [92]:
# Implémentation du tri par sélection (utilisant fonction min())
def tri_selection(L, demo = False):
    vtri =[]                         #on créé une nouvelle liste "vtri" dans laquelle les nb seront ordonnés
    for i in range(len(L)):          #pour tous les élements i de la liste
        vmin = min(L)                #on cherche la plus petite valeur de la liste 
        vtri.append(vmin)            #on ajoute cette valeur à la liste "vmin"
        L.remove(vmin)               #on supprime le vmin précédent pr ne plus le retrouver dans L puis on cherche la nouvelle plus petite valeur
       
    print(vtri)

In [93]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [99]:
ma_liste

[]

In [7]:
def tri_selection(L):

#cf Lamia trie en place, nécessite de bien gérer les indices
    for i in range(len(L)-1):
        min_list=min(L[i:len(L)])
        index_min=L[i:len(L)].index(min_list)+i
        L[i],L[index_min]=L[index_min],L[i]
    return L

In [9]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [11]:
# Implémentation du tri par sélection (utilisant fonction min())
#cf Christophe
def tri_selection(L,demo=False):   
    S=[]
    
    compteur=0
    if demo:
        print(compteur, S)
        
    while len(L)>0:
        compteur+=1
        
        emin=min(L)
        S.append(emin)
        L.remove(emin)
        
        if demo:
            print(compteur, S)
            
    return S

In [12]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9] #sans demo =flag
tri_selection(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [13]:
ma_liste=[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

0 []
1 [1]
2 [1, 2]
3 [1, 2, 3]
4 [1, 2, 3, 3]
5 [1, 2, 3, 3, 4]
6 [1, 2, 3, 3, 4, 5]
7 [1, 2, 3, 3, 4, 5, 5]
8 [1, 2, 3, 3, 4, 5, 5, 6]
9 [1, 2, 3, 3, 4, 5, 5, 6, 6]
10 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8]
11 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8]
12 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9]
13 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [2]:
# Implémentation du tri par sélection (avec ré-implémentation d'une fonction min personnelle)
def tri_selection_complet(L, demo = False):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection_complet(ma_liste, True)

In [16]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [17]:
# Implémentation du tri par sélection (avec ré-implémentation d'une fonction min personnelle)

def tri_selection_complet(L, demo = False):
    S = []
    compteur = 0
    if demo:
        print("{:3d}: {}".format(compteur, L))
    
    while len(L) > 0:
        
        emin = L[0]
        for e in L:
            compteur += 1
            if e < emin:
                emin = e
        
        S.append(emin)
        L.remove(emin)
        
        if demo:
            print(f"{compteur:3d}: {S}")
    return S

In [18]:
ma_liste=[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection_complet(ma_liste, True)

  0: [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
 13: [1]
 25: [1, 2]
 36: [1, 2, 3]
 46: [1, 2, 3, 3]
 55: [1, 2, 3, 3, 4]
 63: [1, 2, 3, 3, 4, 5]
 70: [1, 2, 3, 3, 4, 5, 5]
 76: [1, 2, 3, 3, 4, 5, 5, 6]
 81: [1, 2, 3, 3, 4, 5, 5, 6, 6]
 85: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8]
 88: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8]
 90: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9]
 91: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [24]:
def tri_selection_complet(L, demo=False):
    #trouver la valeur min
    min=0
    
    for i in range(len(L)):
        min=i
        
        for j in range(i+1, len(L)):
            if L[min]>L[j]:
                min=j
                
        tmp=L[i]
        L[i]=L[min]
        L[min]=tmp
        
    return L

---

In [25]:
ma_liste=[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection_complet(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

### Tri à bulles (ou tri par propagation)

> **Démo avec jeux de cartes**

Autre illustration (Source: [wikipedia](https://en.wikipedia.org/wiki/Bubble_sort))

![Tri à Bulles](./img/bubble-sort.gif)

TO DO: Décrivez l'algorithme du tri à bulles en pseudo-code:  

  
  
  Chaque élément est comparé au précedent, la valeur la plus élevée est retenue et comparée à la suivante.
  A chaque étape la valeur la plus élevée est retenue est placée à la fin du premier tour à sa place définitive. 
  Le tour suivant retient l'avant dernier élément et ainsi de suite jusqu'à ce que tous les éléments soient dans l'ordre. 
--

In [2]:
ma_liste=[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [ ]:
# Implémentation
def tri_bulles(L, demo = False):
    n=len(L)
    # Traverser tous les éléments du tableau
    for i in range(n):
        for j in range(0, n-i-1):
            # échanger si l'élément trouvé est plus grand que le suivant
            if L[j] > L[j+1] :
                L[j], L[j+1] = L[j+1], L[j]

 

    tri_bulles(ma_liste)
print ("Le tableau trié est:")
for i in range(len(ma_liste)):
    print ("%d" %L[i])

In [29]:

def tri_bulles(L, demo=False):
    for i in range(len(L)):
        for j in range (len(L)-1):
            if L[j]>L[j+1]:          #comparaison par indice/ position
                L[j], L[j+1]=L[j+1],L[j]   #permutation entre les éléments
                
    return L

In [27]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_bulles(ma_liste, demo = True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [30]:
pire_cas = [i for i in range(10, 0, -1)]
print(len(pire_cas), pire_cas)

10 [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
tri_bulles(pire_cas, True)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Le nb d'itérations dans ce cas est: n * (n + 1) / 2)
9 + 8 + 7 + 6 + 5 + 4 + 3 + 2 + 1

45

In [15]:
# Ce qui est égal à n * (n + 1) / 2  avec n = 9
9 * 10 // 2

45

---
## Application à une liste de chaînes de caractère

**Rappel: Comparaison de chaînes de caractères**

In [ ]:
"Abc" > "cdf"

In [ ]:
"A" > "a"

In [ ]:
"Vincent" > "Christophe"

In [ ]:
"Vincent" > "christophe"

In [ ]:
promo = ['Théo', 'Philippe', 'Lamia', 'Marvin', 
         'Maëlle', 'Yoann', 'Jonathan', 'Corentin', 
         'Joris', 'Matthias', 'Alicia', 'Izak', 
         'Mayel', 'Corentin', 'Jordan', 'Abire' 
]

In [ ]:
sorted(promo)

In [ ]:
tri_bulles(promo, True)

---
## Pour aller plus loin

Voir 
- [Complexité algorithmique en temps](https://fr.wikipedia.org/wiki/Complexit%C3%A9_en_temps)
- [Algorithme de tri sur Wikipedia](https://fr.wikipedia.org/wiki/Algorithme_de_tri)

### Tri à bulles optimisé
TO DO: Imaginer ou rechercher sur internet une possibilité d'améliorer le tri à bulles

In [ ]:
def tri_bulles_optimise(L):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_bulles_optimise(ma_liste)

### Tri fusion (merge sort)

In [ ]:
def tri_fusion(L):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_fusion(ma_liste)